/* Desktop: 1440px */
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

/* Font Weights 500, 700 */

/* body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif, monospace;
  display: flex;
  flex-direction: column;
}

.articlePreview {
  height: 100vh;
  align-items: center;
  justify-content: center;
} */

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articlePreview {
  width: 350px;
  height: 70vh;
  background-color: red;
}