/* Desktop: 1440px */
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

/* Font Weights 500, 700 */

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
}

.articlePreview {
  width: 450px;
  background-color: var(--white);
  margin: 10% auto 0;
  border-radius: 10px;
  
}

.article-preview-image {
  border-radius: 10px 10px 0 0;
}

.author {
  display: flex;
}

.headshot {
  border-radius: 50%;
  width: 40px;
}

.arrow-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.author-arrow {
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 800px) {

  .articlePreview {
    display: flex;
  }



}